---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="Обо мне | Константин K" description="Разработка сайтов Константин Горно-Алтайск">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="Обо мне"
				tagline="Привет, меня зовут Константин. Я профессиональный frontend-разработчик"
			>
				<img
					width="1553"
					height="873"
					src="/assets/diplom.jpg"
					alt="Профессиональный frontend-разработчик"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Бэкграунд</h2>
				<div class="content">
					<p>
						Веб‑разработка — моя жизнь! Стремительная популяризация интернета и нескончаемый поток предложений превратили любимое хобби в профессиональную деятельность.
					</p>
					<p>
						Как у любого фулстека у меня есть более сильные и более слабые стороны. Мой путь в разработку начинался с HTML-вёрстки и этот скилл у меня прокачан максимально. Однако, я отлично знаком и с архитектурой web-приложений, хорошо разбираюсь в дизайне интерфейсов и веб-дизайне в целом. Постоянно изучаю новые технологии и алгоритмы ранжирования поисковых систем.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Факты</h2>
				<div class="content">
					<ul>
						<li>Территориально я в Горно-Алтайске, но работаю удалённо с любой точкой планеты</li>
						<li>Большой практический опыт позволяет оперативно и качественно решать любые задачи</li>
						<li>Отсутствие корпоративной цепи минимизирует стоимость разработки сайта</li>
						<li>Все работы от скетча до разработки фронтенда и бэкенда осуществляются мной</li>
						<li>Работа по договору с оплатой за результат исключает любые возможные риски</li>
					</ul>
				</div>
			</section>
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<p>officia unde omnis</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
